.shop-product{
    width: 300px;
    height: 330px;
    border-width: 10px;
    border-color: black;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    border-style: solid;
    border-width: 2px;
    margin-left: 40px;
  
    
    
}
.product-card{
   
    border-color: black;
    width: 300px;
    height: 290px;
    padding-top: 10px;
    
    
}
.product-card img{
    z-index: 1;
    position: absolute;
    width: 200px;
    height: 200px;
    object-fit: cover;
    display: flex;
    justify-self: center;
    border-radius: 10px;

}
.starat{
    margin-left: 10px;
}
.amntaddtocart{
    display: flex;
    gap:8rem;
    align-items: center;
    margin-left: 10px;
    margin-top: 200px;
}
.amntaddtocart button{
    background-color: black;
    color: white;
    border: none;
    text-align: center;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;

}
